Repository translate-tools/domtranslator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore: update packages
  package-lock.json
  package.json
Due: prettier --write --parser json

1.0.0
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: add keywords for NPM
  package.json
Due: prettier --write --parser json

docs: add demo video
  README.md
  assets/demo.mp4
  gulpfile.mjs
Due: prettier --write --parser markdown

1.0.1
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update video format
  README.md
  assets/demo.mp4
  assets/demo.webm
Due: prettier --write --parser markdown

chore: remove demo video
  README.md
  assets/demo.webm
  gulpfile.mjs
Due: prettier --write --parser markdown

build: exclude tests directory
  gulpfile.mjs
Due: none

build: use .d.ts files for types
  .eslintrc
  package-lock.json
  package.json
  src/types/index.d.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

docs: add live example
  README.md
Due: prettier --write --parser markdown

1.0.2
  package-lock.json
  package.json
Due: prettier --write --parser json

docs: add support us section
  README.md
Due: prettier --write --parser markdown

docs: add demo screenshot in readme
  README.md
  assets/demo.png
  gulpfile.mjs
Due: prettier --write --parser markdown

1.0.3
  package-lock.json
  package.json
Due: prettier --write --parser json

1.0.4
  package-lock.json
  package.json
Due: prettier --write --parser json

refactor: use scheduler instead of intersection observer
  README.md
  src/DOMTranslator.test.ts
  src/DOMTranslator.ts
  src/IntersectionDOMTranslationScheduler.ts
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.test.ts
  src/index.ts
  src/types/index.d.ts
  src/utils/NodesIntersectionObserver.test.ts
  src/utils/NodesIntersectionObserver.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

refactor: rename IntersectionScheduler
  README.md
  src/DOMTranslator.test.ts
  src/IntersectionScheduler.ts
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.test.ts
  src/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

docs: update readme
  README.md
Due: prettier --write --parser markdown

docs: explain scheduler purpose
  src/IntersectionScheduler.ts
  src/types/index.d.ts
Due: prettier --write, eslint --fix

1.1.0
  package-lock.json
  package.json
Due: prettier --write --parser json

refactor: rename method for translation
  README.md
  src/DOMTranslator.test.ts
  src/DOMTranslator.ts
  src/NodesTranslator.test.ts
  src/NodesTranslator.ts
  src/PersistentDOMTranslator/index.ts
  src/types/index.d.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

refactor: rename translation methods for persistent translator
  README.md
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.preventRecursion.test.ts
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.test.ts
  src/PersistentDOMTranslator/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

1.2.0
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: ignore invalid selectors
  src/utils/configureTranslatableNodePredicate.test.ts
  src/utils/nodes.ts
Due: prettier --write, eslint --fix

test: add cases
  src/utils/configureTranslatableNodePredicate.test.ts
Due: prettier --write, eslint --fix

test: add cases for attributes
  src/utils/configureTranslatableNodePredicate.test.ts
Due: prettier --write, eslint --fix

refactor: rename nodes filter util
  README.md
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.test.ts
  src/utils/createNodesFilter.test.ts
  src/utils/nodes.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

test: add attributes in list to match
  src/utils/createNodesFilter.test.ts
Due: prettier --write, eslint --fix

docs: add doc-block for nodes filter
  src/utils/nodes.ts
Due: prettier --write, eslint --fix

chore: dedupe config rules
  src/utils/nodes.ts
Due: prettier --write, eslint --fix

fix: ignore invalid selectors (#133)
  README.md
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.test.ts
  src/utils/createNodesFilter.test.ts
  src/utils/nodes.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

chore: update access modifiers
  src/DOMTranslator.ts
  src/NodesTranslator.ts
  src/PersistentDOMTranslator/index.ts
Due: prettier --write, eslint --fix

chore: update access modifiers (#134)
  src/DOMTranslator.ts
  src/NodesTranslator.ts
  src/PersistentDOMTranslator/index.ts
Due: prettier --write, eslint --fix

1.3.0
  package-lock.json
  package.json
Due: prettier --write --parser json

1.3.0 (#135)
  package-lock.json
  package.json
Due: prettier --write --parser json

test: add case to reproduce bug with uncaught error
  src/PersistentDOMTranslator/__tests__/PersistentDOMTranslator.test.ts
Due: prettier --write, eslint --fix

fix: explicitly call update method conditionally
  src/PersistentDOMTranslator/index.ts
Due: prettier --write, eslint --fix

1.3.1
  package-lock.json
  package.json
Due: prettier --write --parser json
